
<div class="wa-info f-top-border">
    <img src="/img/logo/logo-wa-abajo.png" alt="">
    <h4>2020 Web Academy. Todos los derechos reservados.</h4>
</div>
<div class="social-network f-top-border">
    <ul>
        <li class="linkedin-f-logo"><i class="fab fa-linkedin"></i></li>
        <li class="facebook-f-logo"><i class="fab fa-facebook-square"></i></li>
        <li class="twitter-f-logo"><i class="fab fa-twitter"></i></li>
        <li class="instagram-f-logo"><i class="fab fa-instagram"></i></li>
    </ul>
</div>