
<div class="header-left-menu">
    <div class="header-logo">
        <img src="/img/logo/lgo-wa-derecha.png" alt="WA Logo" id="h-lg-logo">
        <img src="/img/logo/logo-wa-abajo.png" alt="WA Logo" id="h-sm-logo">
        <img src="/img/logo/logo-wa.png" alt="WA Logo" id="h-xs-logo">
    </div>
    
    
    <div class="cat-dropdown-menu">
        <h6>Categorías</h6> <!--DIV-->
        <div class="menu">
            <ul class="dropdown-nav">
                <li><i class="fas fa-bars"></i>
                    <ul class="dropdown">
                        <li><a href="">Arte</a>
                            <ul class="dropdown-cat">
                                <li><a href="">Instrumetnos</a></li>
                                <li><a href="">Música</a></li>
                                <li><a href="">Producción</a></li>
                            </ul>
                        </li>
                        <li><a href="">Desarrollo</a>
                            <ul class="dropdown-cat">
                                <li><a href="">Apps Móviles</a></li>
                                <li><a href="">Base de Datos</a></li>
                                <li><a href="">Desarrollo Web</a></li>
                            </ul>
                        </li>
                        <li><a href="">Desarrollo Personal</a>
                            <ul class="dropdown-cat">
                                <li><a href="">Influencia</a></li>
                                <li><a href="">Liderazgo</a></li>
                                <li><a href="">Productividad</a></li>
                            </ul>
                        </li>
                        <li><a href="">Diseño</a>
                            <ul class="dropdown-cat">
                                <li><a href="">3D y animación</a></li>
                                <li><a href="">Diseño Gráfico</a></li>
                                <li><a href="">Diseño Web</a></li>
                            </ul>
                        </li>
                        <li><a href="">Fotografía</a>
                            <ul class="dropdown-cat">
                                <li><a href="">Diseño de Videos</a></li>
                                <li><a href="">Fundamentos de Fotografía</a></li>
                                <li><a href="">Retratos</a></li>
                            </ul>
                        </li>
                        <li><a href="">Informática</a>
                            <ul class="dropdown-cat">
                                <li><a href="">Hardware</a></li>
                                <li><a href="">Redes y Seguridad</a></li>
                                <li><a href="">Sistemas Operativos</a></li>
                            </ul>
                        </li>
                        <li><a href="">Marketing</a>
                            <ul class="dropdown-cat">
                                <li><a href="">Fundamentos de Marketing</a></li>
                                <li><a href="">Marketing Digital</a></li>
                                <li><a href="">Publicidad</a></li>
                            </ul>
                        </li>
                        <li><a href="">Negocios</a>
                            <ul class="dropdown-cat">
                                <li><a href="">Finanzas Personales</a></li>
                                <li><a href="">Finanzas Corporativas</a></li>
                                <li><a href="">Mercado de Capitales</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>           
    
    <div class="header-searchbar">
        <input type="text" placeholder="¿Qué querés aprender hoy?" id="searchbar">
        <i class="fas fa-search" id="search-logo"></i>
    </div>
</div>

<div class="header-right-menu">
    <div class="header-cart">
        <i class="fas fa-shopping-cart"></i>
    </div>
    
    <div class="header-user">
        <button class="header-user-btn" id="btn-login">Iniciar sesión</button>
        <button class="header-user-btn" id="btn-signup">Registrarse</button>
        <i class="fas fa-user"></i>
    </div> 
</div>         
