<div class="header-left-menu">
    <div class="header-logo">
        <a href="/">
            <img src="/img/logo/lgo-wa-derecha.png" alt="WA Logo" id="h-lg-logo">
        </a>
        <a href="/">
            <img src="/img/logo/logo-wa-abajo.png" alt="WA Logo" id="h-sm-logo">
        </a>
        <a href="/">
            <img src="/img/logo/logo-wa.png" alt="WA Logo" id="h-xs-logo">
        </a>
    </div>


    <div class="cat-dropdown-menu">
        <h6>Categorías</h6>
        <!--DIV-->
        <div class="menu">
            <ul class="dropdown-nav">
                <li><i class="fas fa-bars"></i>
                    <ul class="dropdown">
                        <li><a href="/products#Arte">Arte</a>
                            <ul class="dropdown-cat">
                                <li><a href="/products/1">Instrumentos</a></li>
                                <li><a href="/products/2">Música</a></li>
                                <li><a href="/products/3">Producción</a></li>
                            </ul>
                        </li>
                        <li><a href="/products#Desarrollo">Desarrollo</a>
                            <ul class="dropdown-cat">
                                <li><a href="/products/4">Apps Móviles</a></li>
                                <li><a href="/products/5">Base de Datos</a></li>
                                <li><a href="/products/6">Desarrollo Web</a></li>
                            </ul>
                        </li>
                        <li><a href="/products#Desarrollo Personal">Desarrollo Personal</a>
                            <ul class="dropdown-cat">
                                <li><a href="/products/7">Influencia</a></li>
                                <li><a href="/products/8">Liderazgo</a></li>
                                <li><a href="/products/9">Productividad</a></li>
                            </ul>
                        </li>
                        <li><a href="/products#Diseño">Diseño</a>
                            <ul class="dropdown-cat">
                                <li><a href="/products/10">3D y animación</a></li>
                                <li><a href="/products/11">Diseño Gráfico</a></li>
                                <li><a href="/products/12">Diseño Web</a></li>
                            </ul>
                        </li>
                        <li><a href="/products#Fotografía">Fotografía</a>
                            <ul class="dropdown-cat">
                                <li><a href="/products/13">Diseño de Videos</a></li>
                                <li><a href="/products/14">Fundamentos de Fotografía</a></li>
                                <li><a href="/products/15">Retratos</a></li>
                            </ul>
                        </li>
                        <li><a href="/products#Informática">Informática</a>
                            <ul class="dropdown-cat">
                                <li><a href="/products/16">Hardware</a></li>
                                <li><a href="/products/17">Redes y Seguridad</a></li>
                                <li><a href="/products/18">Sistemas Operativos</a></li>
                            </ul>
                        </li>
                        <li><a href="/products#Marketing">Marketing</a>
                            <ul class="dropdown-cat">
                                <li><a href="/products/19">Fundamentos de Marketing</a></li>
                                <li><a href="/products/20">Marketing Digital</a></li>
                                <li><a href="/products/21">Publicidad</a></li>
                            </ul>
                        </li>
                        <li><a href="/products#Negocios">Negocios</a>
                            <ul class="dropdown-cat">
                                <li><a href="/products/22">Finanzas Personales</a></li>
                                <li><a href="/products/23">Finanzas Corporativas</a></li>
                                <li><a href="/products/24">Mercado de Capitales</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-searchbar">
        <input type="text" placeholder="¿Qué querés aprender hoy?" id="searchbar">
        <i class="fas fa-search" id="search-logo"></i>
    </div>
</div>

<div class="header-right-menu">
    <div class="header-cart">
        <a href="/shoppingCart" class="fas fa-shopping-cart"></a>
    </div>

    <% if (loggedInUser == undefined) { %>
    <div class="header-user">
        <a href="/users/login" class="header-user-btn" id="btn-login">Iniciar sesión</a>
        <a href="/users/register" class="header-user-btn" id="btn-signup">Registrarse</a>
        <a href="/users/login" class="fas fa-user"></a>
    </div>
    <% } else { %>
        <div class="header-user">
            <a href="/users" class="header-user-btn" id="btn-login"><%= loggedInUser.name %></a>
            <a href="/users" class="fas fa-user"></a>
        </div>
        <% } %>

</div>