<div class="tip">
    <div class="tip-logo">
        <i class="<%= tip.icon %>"></i>
    </div>
    <div class="tip-info">
        <h4><%= tip.title %></h4>
        <p><%= tip.description %></p>
    </div>
</div>