<div class="course">
    <img src="img/placeholder2.png" alt="">
    <h4>TITULO</h4>
    <p>Breve descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, facere labore. Consectetur labore iure ratione.</p>
    <div class="hidden-course-info">
        <p><span class="hidden-course-info-title">Precio:</span> USD 380</p>
        <p><span class="hidden-course-info-title">Clases:</span> 180</p>
        <p><span class="hidden-course-info-title">Horas:</span> 25</p>
        <a class="btn-addtocart" href="shoppingCart.html" role="button"><i class="fas fa-shopping-cart"></i></a>
    </div>
</div>