<div class="category">
    <div class="category-logo">
        <i class="<%= category.class %> "></i>
    </div>
    <div class="category-title">
        <a href="/products#<%= category.title %>"><%= category.title %></a>
    </div>
</div>