<div class="category">
    <div class="category-logo">
        <i class="<%= categories.icon %> "></i>
    </div>
    <div class="category-title">
        <a href="/products#<%= categories.title %>"><%= categories.title %></a>
    </div>
</div>