[id^="tooltip"] {
    background: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 4px;
    width: 30%;
    border: 1px solid black;
    padding: 5px 15px;
    display: none
}

#arrow,
#arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
}

#arrow::before {
    content: '';
    transform: rotate(45deg);
    background: white;
    border-left: black 1px solid;
    border-top: black 1px solid;
}

#tooltip[data-show] {
    display: block;
}

#tooltip[data-popper-placement^='top'] > #arrow {
    bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
    top: -5px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
    right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
    left: -4px;
}


elemento[atributo^=""], selecciona todos los elementos que disponen de ese
atributo y cuyo valor comienza exactamente por la cadena de texto indicada.

/* -------------- */

.container {
    width: 25%;
    margin: auto;
    background-color: red;
}

.top-courses-sec-courses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: red;
    width: 100%;
    margin: auto;
}

.course {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(177, 177, 177, 0.7);
    transition: box-shadow 0.5s;
}

.course img {
    width: 100%;
}

.course h4 {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin: 10px auto 0px auto;
}

.course p {
    font-size: 1em;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hidden-course-info {
    display: none;
    width: 50%;
    font-size: 0.9em;
    font-weight: 300;
}

.hidden-course-info-title {
    font-weight: 700;
}

.hidden-course-info > button {
    margin-bottom: 10px;
    width: 20%;
    position: relative;
    left: 80%;
    background-color: lightgray;
    border-top-color: rgb(224, 224, 224);
    border-left-color: rgb(224, 224, 224);
    border-right-color: black;
    border-bottom-color: black;
    color: black;
}

.hidden-course-info > button > i{
    font-size: 16px;
}