*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';
}
#category-link, a:hover {text-decoration: none; color: black;}

.main-container{
    background-color: rgb(245, 245, 245);
    width: 100%;
    padding: 20px 0;
    font-size: 1rem;
}
.course-container{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.course{
    background-color: white;
    border-radius: .25rem;
    padding: 15px;
    margin: 1%;
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.7);  
}
.mgn-btm-15px{
    margin-bottom: 15px;
}
.bkgn-white-mrgn-black{
    /* background-color: white; */
    border-radius: 5px;
    padding: 10px;
    /* border: 2px solid black; */
} 
.button-categorie{
    display: inline;
}
.course-img{
    border-radius: .25rem;
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.7);;
    padding: 5px;
}
.course-img img{
    width: 100%;
}
.second-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.course-description{
    padding: 15px;
    background-color: white;
    border-radius: .25rem;
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.7);
}
.store-card{
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.7);
}
.store-card li{
    font-weight: normal;
}

.card {
    padding: 5px;
}

.price-tag {
    padding: 0;
}

/*BUTTON CART*/

.cart-btn {
    padding: 5px 15px;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #00679A;
    border-radius: 2px;
}
.cart-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #00679A;
    border-color: #00679A;
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.7);
    text-decoration: none;
}
.cart-btn:focus {
    outline:none;
    outline-width: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.header-user-btn:active {
    background-color: rgb(0, 78, 117);
    border-color: rgb(0, 78, 117);
    box-shadow: 0px 0px 10px lightgray;
    transform: scale(0.95);
}



@media (max-width: 992px) {
    .course-img{
        display: none;
    }
 }

/* TABLET 768px */

@media (max-width: 768px) {
    .cart-btn {
        font-size: 14px;
        padding: 5px 5px;
    }
    .course{
        margin-bottom: 1rem;
    }
    .course-description{
        margin-bottom: 1rem;
    }
 
}