*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Raleway';
}

.main-container{
    background-color: rgb(245, 245, 245);
    width: 100%;
    padding: 20px 0;
    font-size: 1rem;
}
.course-container{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.course{
    background-color: white;
    border-radius: .25rem;
    padding: 15px;
    margin: 1%;
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.7);  
}
.mgn-btm-15px{
    margin-bottom: 15px;
}
.bkgn-white-mrgn-black{
    /* background-color: white; */
    border-radius: 5px;
    padding: 10px;
    /* border: 2px solid black; */
} 
.button-categorie{
    display: inline;
}
.course-img{
    border-radius: .25rem;
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.7);;
    padding: 5px;
}
.course-img img{
    width: 100%;
}
.second-container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.course-description{
    padding: 15px;
    background-color: white;
    border-radius: .25rem;
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.7);
}
.store-card{
    box-shadow: 1px 1px 10px rgba(177, 177, 177, 0.7);
}
.store-card li{
    font-weight: normal;
}

.card {
    padding: 5px;
}

@media (max-width: 1024px) {
 }

/* TABLET 768px */

@media (max-width: 768px) {
    .course{
        margin-bottom: 1rem;
    }
    .course-description{
        margin-bottom: 1rem;
    }
 
}

/* 577px */

@media (max-width: 577px) {
    .course-img{
        display: none;
    }
   
}

/* 490px */

@media (max-width: 490px) {
    
    
}