<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
</head>
<body>   
    <header>
        <%- include('partials/header') %>     
    </header>
    
    <div class="slider">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="4000" data-keyboard=true data-pause="hover" data-touch=true>
                    <img src="img/placeholder.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="4000" data-keyboard=true data-pause="hover" data-touch=true>
                    <img src="img/placeholder.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="carousel-item" data-interval="4000" data-keyboard=true data-pause="hover" data-touch=true>
                    <img src="img/placeholder.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    
    <main>
        <section class="top-courses-section">
            <article class="top-courses-sec-title">
                <h4>Nuestros cursos más concurridos</h4>
            </article>
            
            <article class="top-courses-sec-courses">
                <div class="course">
                    <img src="img/placeholder2.png" alt="">
                    <h4>TITULO</h4>
                    <p>Breve descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, facere labore. Consectetur labore iure ratione.</p>
                    <div class="hidden-course-info">
                        <p><span class="hidden-course-info-title">Precio:</span> USD 380</p>
                        <p><span class="hidden-course-info-title">Clases:</span> 180</p>
                        <p><span class="hidden-course-info-title">Horas:</span> 25</p>
                        <a class="btn-addtocart" href="shoppingCart.html" role="button"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="course">
                    <img src="img/placeholder2.png" alt="">
                    <h4>TITULO</h4>
                    <p>Breve descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, facere labore. Consectetur labore iure ratione.</p>
                    <div class="hidden-course-info">
                        <p><span class="hidden-course-info-title">Precio:</span> USD 380</p>
                        <p><span class="hidden-course-info-title">Clases:</span> 180</p>
                        <p><span class="hidden-course-info-title">Horas:</span> 25</p>
                        <a class="btn-addtocart" href="shoppingCart.html" role="button"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="course">
                    <img src="img/placeholder2.png" alt="">
                    <h4>TITULO</h4>
                    <p>Breve descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, facere labore. Consectetur labore iure ratione.</p>
                    <div class="hidden-course-info">
                        <p><span class="hidden-course-info-title">Precio:</span> USD 380</p>
                        <p><span class="hidden-course-info-title">Clases:</span> 180</p>
                        <p><span class="hidden-course-info-title">Horas:</span> 25</p>
                        <a class="btn-addtocart" href="shoppingCart.html" role="button"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="course">
                    <img src="img/placeholder2.png" alt="">
                    <h4>TITULO</h4>
                    <p>Breve descripcion Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, facere labore. Consectetur labore iure ratione.</p>
                    <div class="hidden-course-info">
                        <p><span class="hidden-course-info-title">Precio:</span> USD 380</p>
                        <p><span class="hidden-course-info-title">Clases:</span> 180</p>
                        <p><span class="hidden-course-info-title">Horas:</span> 25</p>
                        <a class="btn-addtocart" href="shoppingCart.html" role="button"><i class="fas fa-shopping-cart"></i></a>
                    </div>
                </div>
            </article>            
        </section>
        
        <section class="start-now">
            <article class="start-now-info">
                <h4 class="start-now-title">
                    Empezá a aprender lo que más te interesa, hoy mismo.
                </h4>
                <p class="start-now-p">
                    Inscribite y formá parte de la comunidad WA.
                </p>
                <a href="register.html" class="start-now-button">Empezá ahora</a>
            </article>
        </section>
        
        <section class="categories-section">
            <article class="categories-sec-title">
                <h4>Principales categorías</h4>
            </article>
            
            <article class="categories-sec-categories">
                <article class="category">
                    <div class="category-logo">
                        <i class="fas fa-code"></i>
                    </div>
                    <div class="category-title">
                        <h4>Desarrollo</h4>
                    </div>
                </article>
                <article class="category">
                    <div class="category-logo">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <div class="category-title">
                        <h4>Negocios</h4>
                    </div>
                </article>
                <article class="category">
                    <div class="category-logo">
                        <i class="fas fa-desktop"></i>
                    </div>
                    <div class="category-title">
                        <h4>Informática</h4>
                    </div>
                </article>
                <article class="category">
                    <div class="category-logo">
                        <i class="fas fa-crop-alt"></i>
                    </div>
                    <div class="category-title">
                        <h4>Diseño</h4>
                    </div>
                </article>
                <article class="category">
                    <div class="category-logo">
                        <i class="far fa-lightbulb"></i>
                    </div>
                    <div class="category-title">
                        <h4>Marketing</h4>
                    </div>
                </article>
                <article class="category">
                    <div class="category-logo">
                        <i class="fas fa-book-open"></i>
                    </div>
                    <div class="category-title">
                        <h4>Desarrollo Personal</h4>
                    </div>
                </article>
                <article class="category">
                    <div class="category-logo">
                        <i class="fas fa-camera"></i>
                    </div>
                    <div class="category-title">
                        <h4>Fotografía</h4>
                    </div>
                </article>
                <article class="category">
                    <div class="category-logo">
                        <i class="fas fa-paint-brush"></i>
                    </div>
                    <div class="category-title">
                        <h4>Arte</h4>
                    </div>
                </article>
            </article>
        </section>
        
        <section class="tips-section">
            <article class="tips-sec-title">
                <h4>Algunos tips</h4>
            </article>
            
            <article class="tips-sec-tips"> 
                <article class="tip">
                    <div class="tip-logo">
                        <i class="fas fa-clipboard-check"></i>
                    </div>
                    <div class="tip-info">
                        <h4>TITULO DEL TIP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, iure?</p>
                    </div>
                </article>
                <article class="tip">
                    <div class="tip-logo">
                        <i class="fas fa-clipboard-check"></i>
                    </div>
                    <div class="tip-info">
                        <h4>TITULO DEL TIP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, iure?</p>
                    </div>
                </article>
                <article class="tip">
                    <div class="tip-logo">
                        <i class="fas fa-clipboard-check"></i>
                    </div>
                    <div class="tip-info">
                        <h4>TITULO DEL TIP</h4>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores, iure?</p>
                    </div>
                </article>
            </article>
            
        </section>
        
    </main>
    
    <footer>
        <%- include('partials/footer') %> 
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>