<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="css/productForm.css">
    
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>

    <!--Main-->
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"><!--TITULO-->
                    <h1>Carga tu Curso</h1>
                </div>
                <form action="" method="POST" class="center">
                    <div class="row center">
                        <div class="col-md-6 border">
                            <!--Categorias-->
                            <label for="option">Categorias</label>
                            <select name="" id="option">
                            <option value="">Arte</option>
                            <option value="">Desarrollo</option>
                            <option value="">Diseño</option>
                            <option value="">Fotografia</option>
                            <option value="">Informatica</option>
                            <option value="">Idiomas</option>
                            <option value="">Marketing</option>
                            <option value="">Negocios</option>
                            <option value="">Desarrollo Personal</option>
                            <option value="">Educacion</option>
                            </select>
                        </div>
                        <div class="col-md-6 border">
                            <!--Nombre del curso-->
                            <label for="">Nombre Del Curso</label>
                            <input class="input-mg" type="text" name="NCurso" id="" placeholder="Nombre del Curso">
                        </div>
                    </div>
                    <div class="row"><!--Descripcion -->
                        <div class="col-md-12 center">
                            <textarea name="Description" id="" cols="82%" rows="10" placeholder="Escriba una breve Descripcion"></textarea>
                        </div>
                    </div>
                    <div class="row center"><!--Calendario --> 
                        <div class="col-md-6 border space">
                            <div>
                                <label for="">Comienzo del Curso</label>
                                <input class="input-mg" type="date" name="inicio" id="dateInicio" min="">
                            </div>
                            <div>
                                <label for="">Fin del Curso</label>
                                <input class="input-mg" type="date" name="fin" id="dateFin" min="">
                            </div>
                        </div>
                        <div class="col-md-6 border space">
                            <div>
                                <label for="">Dias de Cursada</label>
                                <div class="dias">
                                    <input class="input-mg" type="checkbox" name="days" value="Mon">Lun
                                    <input class="input-mg" type="checkbox" name="days" value="Tues">Mar
                                    <input class="input-mg" type="checkbox" name="days" value="Wedn">Mier
                                    <input class="input-mg" type="checkbox" name="days" value="Thur">Jue
                                    <input class="input-mg" type="checkbox" name="days" value="Fri">Vier
                                </div>
                            </div>
                            <div>
                                <label for="">Horarios</label>
                                <input class="input-mg" type="checkbox" name="time" value="">08am - 12pm<br>
                                <input class="input-mg" type="checkbox" name="time" value="">13pm - 17pm<br>
                                <input class="input-mg" type="checkbox" name="time" value="">18pm - 22pm<br>
                            </div>
                        </div>
                    </div>
                    <div class="row center">
                        <div class="col-md-6 border space">
                            <!--Vacantes -->
                            <label for="">Vacantes</label>
                            <input class="input-mg" type="number" min="0">                        
                        </div>
                        <div class="col-md-6 border space">
                            <!--Precio -->
                            <label for="">Precio U$D</label>
                            <input class="input-mg" type="number" min="0">
                        </div>
                    </div>
                    <div class="row center"><!--Multimedia -->
                            <div class="col-md-12 border space tamaño">
                                <label for="">Multimedia</label>
                                <input class="input-mg" type="file" name="multimedia">
                                <p class="help-block">Hasta 120 MB</p>
                            </div>
                    </div>
                    <div class="row center border space tamaño"><!--Logo -->
                        <div class="col-md-12">
                            <label for="">Logo</label>
                            <input class="input-mg" type="file" name="Logo" id="">
                        </div>
                    </div>
                    <div class="row center"><!--Boton de envio -->
                        <div class="col-md-12 space">
                            <button type="submit" class="button">Agregar Curso</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        <%- include('partials/footer') %> 
    </footer>
    <%- include('partials/scripts') %>
</body>
</html>