<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %> 
    <link rel="stylesheet" href="../public/css/shoppingCart.css">
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    
    <main>
        <div class="container-fluid">
            <div class="row cart-title">
                <div class="col-12 cart-title-h1-h2">
                    <h1 class="title">
                        CARRITO DE COMPRAS
                    </h1>
                    <h2 class="quantity">
                        <span class="q-number">2</span> cursos en el carrito
                    </h2>
                </div>
            </div>
            <div class="row cart-info">
                <div class="col-2 cart-course-logo">
                    <img src="../public/img/placeholder2.png" alt="">
                </div>
                <div class="col-10 col-md-5 cart-course-info">
                    <h4>Curso X</h4>
                    <p>01/01/2000 - 01/01-2000</p>
                </div>
                <div class="col-6 col-md-3 cart-course-options">
                    <ul>
                        <li><a href="">Eliminar</a></li>
                        <li><a href="">Guardar para después</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 cart-course-price">
                    <span>US$ 9,99</span>
                </div>
            </div>
            <div class="row cart-info">
                <div class="col-2 cart-course-logo">
                    <img src="../public/img/placeholder2.png" alt="">
                </div>
                <div class="col-10 col-md-5 cart-course-info">
                    <h4>Curso X</h4>
                    <p>01/01/2000 - 01/01-2000</p>
                </div>
                <div class="col-6 col-md-3 cart-course-options">
                    <ul>
                        <li><a href="">Eliminar</a></li>
                        <li><a href="">Guardar para después</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-2 cart-course-price">
                    <span>US$ 9,99</span>
                </div>
            </div>
            <div class="row final-price">
                <div class="col-12 final-price-col">
                    <h4>Total: <span>US$ 19,98</span> </h4>
                </div>
            </div>
            <div class="row payment">
                <div class="col-4 payment-methods">
                    <ul>
                        <li><i class="fab fa-cc-visa visa"></i></li>
                        <li><i class="fab fa-cc-mastercard mastercard"></i></li>
                    </ul>
                </div>
                <div class="col-4 payment-btn-col">
                    <a class="cart-payment-btn" href="index.html" role="button">Pagar</a>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <%- include('partials/footer') %> 
    </footer>
    
    <%- include('partials/scripts') %>
</body>
</html>