#lgo-wa{
    width: 50px;
}
#lgo-wa-amplio{
    width: 160px;
}

@media (max-width: 2400px){
    #lgo-wa{
        display: none;
    }
}

@media (max-width: 767px){
    #lgo-wa-amplio{
        display: none;
    }
    #lgo-wa{
        display: flex;
    }
}